.list_tabs_items {
  .el-tabs__nav {
    width: 100%;
    display: flex;
  }

  .el-tabs__item {
    flex: 1;
    text-align: center;
  }
}

.my_select{
  .select-trigger{
    height: 100% !important;
    .el-input{
      height: 100% !important;
      .el-input__inner{
        height: 100% !important;
      }
    }
  }
}
